.layout.events {
    position: relative;
    overflow: hidden;
    .item.active {
        .heading-title {
            display: flex;
            justify-content: flex-end;
            font-size: 8em;
			margin-bottom: 0;
            @media screen and (max-width: 680px){
                font-size: 6em;
                justify-content: center;
            }
            @media screen and (max-width: 520px){
                font-size: 3em;
            }
        }
    }
    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 60vw;
        height: 120%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: 680px){
            width: 100%;
            height: 120%;
        }
    }
    .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .content {
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 0 0 60px 60px;
        margin-bottom: -5px; // Prevent parallax image from peaking through on scroll
        background-color: #ffffff;
        z-index: 1;
        @media screen and (max-width: 680px){
            max-width: none;
            padding: 40px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
	.items {
		display: flex;
		flex-direction: column;
		&.reverse {
			.item {
				&:nth-child(1){
					order: 2;
				}
				&:nth-child(2){
					order: 1;
				}
			}
		}
		.item {
			padding-bottom: 20px;
			&.active {
				.item-content {
					position: relative;
					opacity: 1;
					pointer-events: auto;
				}
			}
			&:nth-child(1){
				order: 1;

			}
			&:nth-child(2){
				order: 2;
			}
			a {
				display: inline-block;
			}
			.item-content {
				position: absolute;
				opacity: 0;
				pointer-events: none;
			}
		}
	}
    .heading-title {
        position: relative;
        font-size: 3em;
        line-height: 0;
		margin-bottom: 20px;
        @media screen and (max-width: 420px){
            font-size: 2em;
        }
        &:hover {
            .title {
                border-color: $orange;
            }
        }
        .title {
            margin-bottom: 20px;
            line-height: 1;
            border-bottom: 2px solid #000000;
            transition: border-color $base-duration $base-timing;
        }
        span {
            font-family: Abel, sans-serif;
            font-size: 0.5em;
            text-transform: capitalize;
        }
    }
    .book-event {
        display: block !important;
        font-family: Abel, sans-serif;
        font-size: 1.25em;
        margin-top: 0 !important;
    }
    .event-title {
        margin-bottom: 0;
        color: $orange;
    }
    .time {
        margin-bottom: 20px;
    }
	.view-poster {
		padding-top: 20px;
	}
}
