$_button-background-color: $clear;
$_button-background-color-hover: $orange;

#{$all-buttons},
.buttons .btn {
	appearance: none;
	background-color: $_button-background-color;
	border: 3px solid $_button-background-color-hover;
	border-radius: 0px;
	color: $_button-background-color-hover;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	max-width: 180px;
	// margin: auto;
	font-family: $heading-font-family;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	line-height: 1;
	padding: $small-spacing $base-spacing;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	&:hover {
		background-color: $_button-background-color-hover;
		color: $white;
	}
	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
	&:disabled,
	&.disabled {
		cursor: not-allowed;
		opacity: 0.5;
		.label {
			color: $white;
		}
		.btn-fill {
			height: 100%;
		}
		// &:hover {
		// 	background-color: $_button-background-color;
		// }
	}
}

.buttons {
	padding-top: 30px;
	.btn {
		position: relative;
		z-index: 0;
		&+.btn {
			margin-top: 15px;
			@media screen and ($mobile-lg) {
				margin-left: 20px;
				margin-top: 0;
			}
        }
		.label {
			position: relative;
			color: $_button-background-color-hover;
			z-index: 2;
		}
		.btn-fill {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #e48d3b;
			transition: transform $base-duration $base-timing;
			transform: scaleY(0);
		    transform-origin: bottom;
			z-index: 1;
		}
		&:hover {
			.label {
				color: $white;
			}
			@media (pointer: fine) {
				.btn-fill {
					transition: transform $base-duration $base-timing;
					transform: scaleY(100%);
				    transform-origin: bottom;
				}
			}
		}
	}
}
